:root {
  --accent: #f97316;
}

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(120deg, #1f2933, #111827);
  color: #f9fafb;
}

.container {
  max-width: 900px;
  margin: 80px auto;
  background: #ffffff;
  color: #111827;
  border-radius: 16px;
  padding: 50px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  text-align: center;
}

/* PROFIL */
.profile-wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
}

.profile-img {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--accent);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.profile-img.active {
  opacity: 1;
}

h1 {
  margin-top: 0;
  font-size: 36px;
  color: var(--accent);
}

.subtitle {
  font-size: 18px;
  color: #374151;
  margin-bottom: 30px;
}

.section {
  margin-top: 40px;
  text-align: left;
}

.section h2 {
  font-size: 24px;
  border-bottom: 2px solid var(--accent);
  padding-bottom: 8px;
  margin-bottom: 20px;
  color: var(--accent);
}

/* BECERILER */
.skill {
  margin-bottom: 15px;
}

.skill span {
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
}

.bar {
  width: 100%;
  height: 10px;
  background: #e5e7eb;
  border-radius: 6px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background: #374151; /* koyu gri */
  border-radius: 6px;
}

/* PROJELER */
.projects li {
  margin-bottom: 15px;
  font-size: 14px;
}


.theme-btn {
  background: var(--accent);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 25px;
}

.theme-btn:hover {
  opacity: 0.9;
}

.footer {
  margin-top: 40px;
  font-size: 14px;
  color: #6b7280;
  text-align: center;
}
